<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-black" style="color: white">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <nav class="navbar navbar-expand-lg navbar-light bg-black" >
                <a class="navbar-brand" href="/"style="font-family: exo_bold; color: white; font-size: 40px; padding-right: 20px;padding-left: 110px;">DNHS Tennis</a>
                <a style="font-family: exo; color: white; font-size: 20px; padding-right: 10px;" class="nav-link" href={{ url_for('index') }}>Home</a>
                <a style="font-family: exo; color: white; font-size: 20px; padding-right: 20px; padding-left: 20px;" class="nav-link" href={{ url_for('scrolling') }}>Workouts</a>
                <a style="font-family: exo; color: white; font-size: 20px;padding-right: 20px; padding-left: 20px;" class="nav-link" href={{ url_for('scrolling') }}>Games</a>
                <a style="font-family: exo; color: white; font-size: 20px;padding-right: 20px; padding-left: 20px;" class="nav-link" href={{ url_for('scrolling') }}>Stats</a>
                <a style="font-family: exo; color: white; font-size: 20px;padding-right: 24px; padding-left: 20px;" class="nav-link" href={{ url_for('tennis.roster') }}>Rosters</a>
                <a style="font-family: exo; color: white; font-size: 20px;padding-right: 24px; padding-left: 20px;" class="nav-link" href={{ url_for('physicaltherapy') }}>Physical Therapy</a>
                <a style="font-family: exo; color: white; font-size: 20px;padding-right: 24px; padding-left: 20px;" class="nav-link" href={{ url_for('tennis.photos') }}>Photo Gallery</a>
                <a style="font-family: exo; color: white; font-size: 20px;padding-right: 24px; padding-left: 20px;" class="nav-link" href={{ url_for('crud.crud') }}>CRUD</a>

                <a href={{ url_for('crud.crud_login') }}>
                    <p id="login" style="box-shadow: 4px 4px #252323; width: 100px;background:#C2DC76;border-radius: 20px;color: black;text-align: center; ">Log In</p>
                </a>
                <a href={{ url_for('crud.crud') }}>
                    <img style=" position: absolute; left:1290px; top: 15px;" id="profile" alt="profile" src="/static/img/picture1.png" height="50" width="50">
                </a>




                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
{#                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">#}
{#                    <ul class="navbar-nav">#}
{#                        <li class="nav-item dropdown">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: exo; color: white; font-size: 20px;">#}
{#                                Data#}
{#                            </a>#}
{#                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">#}
{#                                <li><a class="dropdown-item" href={{ url_for('scrolling') }}>Scrolling</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
            </nav>
        </div>
    </div>
</nav>

