
{% extends 'layouts/base.html' %}

{% block body %}
    <style>
    body {
        background-color: #2A4284;
    }
    </style>
<title>Tennis Goals</title>
<div class="container py-4 " style="background-color: white">
    <div class="container" style="background-color: darkslateblue; color: white">
        <div class="p-5 mb-4 " style="font-family: exo_med; text-align: center">
            <h2>{{ user.name }}'s Goals</h2>
            <hr>
            <!--Notes input form, textarea supports multiple lines of input  -->
            <form method="POST" ID="create" action={{url_for('notes.create')}}>
                <table class="table">
                    <tr style="color: white">
                        <th><label for="notes">Create a new note:</label></th>
                    </tr>

                    <tr style="color: white">
                        <td><textarea rows = "5" cols = "100%" name = "notes" id="notes" required></textarea></td>
                        <td><input type="submit" value="Add" ></td>
                    </tr>

                </table>
            </form>

            <hr>
            <!--Notes output area, Jinja lines iterate through notes,
                note.note is html converted from markdown -->
            <div class="table-responsive">
                <table class="table">
                    {% for note in notes %}
                    <tr>
                        <td style="color: white" >{{ note.note | safe }}
                            <form method="POST" ID="read" action={{url_for('notes.delete')}}>
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
    <div class="container py-4" style="background-color: white">

        <div class="container "style="background-color: white">

            <div class="row mb-4 bg-light text-dark rounded-3">

{#                <div class="col-md-6">#}
{#                    <div class="p-5 mb-4 bg-light text-dark rounded-3">#}
{#                        <h2>Update</h2>#}
{#                        <form method="POST" ID="update" action={{url_for('notes.update')}} >#}
{#                            <table id="update_table">#}
{#                                <tr>#}
{#                                    <th><label for="update_userid">ID</label></th>#}
{#                                    <th><label for="update_name">Name</label></th>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <select name="userid" id="update_userid">#}
{#                                            <optgroup label="userid">#}
{#                                                {% for row in table %}#}
{#                                                    <option label="{{ row['userID'] }}">{{ row['userID'] }}</option>#}
{#                                                {% endfor %}#}
{#                                            </optgroup>#}
{#                                        </select>#}
{#                                    </td>#}
{#                                    <td><input type="text" name="name" id="update_name" required></td>#}
{#                                    <td><input type="submit" value="Update"></td>#}
{#                                </tr>#}
{#                            </table>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}

                <div class="col-md-3">
                    <div class="p-5 mb-4 bg-light text-dark rounded-3">
                        <h2>Delete</h2>
                        <form method="POST" ID="delete" action={{url_for('notes.delete')}} >
                            <table id="read_table">
                                <tr><th><label for="delete_id">ID</label></th></tr>
                                <tr>
                                    <td>
                                        <select name="id" id="delete_id">
                                            <optgroup label="id">
                                                {% for row in table %}
                                                    <option label="{{ row['id'] }}">{{ row['id'] }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td><input type="submit" value="Delete"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}