<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% block body %}
<h1>Del Norte Tennis:</h1>
    <h1>Contact Coach Cherise at 619-823-7361 or cherisetennislove@yahoo.com</h1>
    <h1>  Join the Del Norte Tennis Team:</h1>
    <h1> More Info:</h1>


    <a href="/en-US/Schools/HS/DNHS/Athletics/Ticket-to-Play">Ticket to Play Information</a>
<br>
    <a href="https://max.dragonflyathletics.com/maxweb/max-cover/login">DragonFly Account Login</a>

    <style>
    body {
        background: darkslateblue;
    }

    </style>
{% endblock %}


