<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% block body %}
    <h1 style="position:absolute; left:380px; height:180px; width: 700px; border-radius: 10px; box-shadow: 0 0 1.2rem rgba(0,0,0,0.25);">Contact Coach Cherise:<br> 619-823-7361 <br> cherisetennislove@yahoo.com</h1>
    <h1 style="position:absolute; left: 380px;top:380px; height:240px; width: 700px; border-radius: 10px; box-shadow: 0 0 1.2rem rgba(0,0,0,0.25);">  Join the Del Norte Tennis Team: <br> <a id="link" href="/en-US/Schools/HS/DNHS/Athletics/Ticket-to-Play">Ticket to Play Information</a><br>    <a id="link"href="https://max.dragonflyathletics.com/maxweb/max-cover/login">DragonFly Account Login</a>
    </h1>



    <style>
    body {
        background: darkslateblue;
    }

    h1, #link {
        font-size: 50px;
        text-align: center;
        color: white;
        font-family:exo_med ;
    }

    </style>
{% endblock %}


