{% extends "layouts/base.html" %}


{% block body %}
    <p id="rectangle"></p>
    <img id="tennis" alt="tennis" src="/static/img/tennisballs.png" height="690" width="709">
    <h1 id="title">DNHS</h1>
    <h1 id="title2">Tennis</h1>
    <p id="slogan">Everything from game schedules to stats</p>
    <p id="slogan2">your go to for Tennis at Del Norte HighSchool</p>

    <div id="upcoming_gamesICON">
        <a href={{ url_for('scrolling') }}>
            <img id="upcomingIMG" alt="upcoming" src="/static/img/upcoming2.png" width=240" height="150">
        </a>
        <p style id="upcoming">Upcoming Games</p>
    </div>




    <style>
        body {
            background-color: #003d66;
        }

        #upcoming_gamesICON{
            position: absolute;
            left: 400px;
            top:550px;
            float: left;
            width:20%;
            height:200px;
        }
        #upcoming{
            color: white;
            font-family: exo;
            position:absolute;
            left:60px;
        }

        #upcomingIMG{
            border-radius: 25px;
        }

        #title {
            font-family: exo_bold;
            color: white;
            font-size: 100px;
            position:absolute;
            left: 200px;
            top: 200px;
        }

        #slogan {
            font-family: exo_med;
            color: white;
            font-size: 40px;
            position:absolute;
            left: 210px;
            top: 345px;
        }

        #slogan2 {
            font-family: exo_med;
            color: white;
            font-size: 40px;
            position:absolute;
            left: 185px;
            top: 400px;
        }

        #title2 {
            font-family: exo;
            color: white;
            font-size: 100px;
            position:absolute;
            left: 500px;
            top: 200px;
        }

        #tennis {
            position:absolute;
            top:160px;
            right: 1px;
        }

        #rectangle {
            width: 1250px;
            height: 700px;
            border: 5px solid white;
            position: absolute;
            left:139px;
            top:100px;
            border-radius: 85px;
        }




    </style>
{% endblock %}
