{% extends "layouts/base.html" %}

{% block body %}
    <style>
    body {
        background-color:darkslateblue;
    }

    #tennis  {
        position:absolute;
        left:50px;
        border-radius: 25px;
        border: 10px solid #E7E2DC;
    }
    #tennis1 {
        position:absolute;
        right:50px;
        border-radius: 25px;
        border: 10px solid #E7E2DC;
    }
    </style>
    <img id="tennis" alt="tennis" src="/static/img/tennis1.jpg" height="520" width="660">
    <img id="tennis1" alt="tennis" src="/static/img/tennis2.jpg" height="520" width="660">
{% endblock %}