{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Rankings Page" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

    {% set players = results %}

    <div class="-block" style="margin: 2% 25% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1>Live ATP Rankings</h1>
        </div>

        <div class="col-12 mainbox center-block">
            <table style="margin: 2%">
                <tr>
                    <th>Ranking</th>
                    <th>Name Code</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Country</th>
{#                    <th>Flag</th>#}
                    <th>Tournaments</th>

                </tr>


                {% for d in players.data %}
                        <tr>
                            <td>{{ d.ranking }}</td>
                            <td>{{ d.team.name_code }}</td>
                            <td>{{ d.team.name_full }}</td>
                            <td>{{ d.points }}</td>
{#                            {% set logo = d.team.flag %}#}
{#                            <td><img src="{{logo}}"></td>#}
                            <td>{{ d.team.country }}</td>
                            <td>{{ d.tournaments }}</td>

                        </tr>

                {% endfor %}
            </table>

        </div>

    </div>





{% endblock %}

