{% extends "layouts/base.html" %}

{% block body %}

<style>
    body{
        background-color: #365940;
    }
</style>

<script>
  let countdown;

  let minutes = 0;
  let seconds = 0;

  let timerRunning = false;

  function setTimer() {
    const minutes_temp = document.getElementById("minutes_html").value;
    const seconds_temp = document.getElementById("seconds_html").value;

    // The numbers only work if I divide by 1. Don't ask why. I don't know.
    minutes = minutes_temp / 1;
    seconds = seconds_temp / 1;
    // Make sure seconds don't overflow.
    while (seconds >= 60) {
      seconds -= 60;
      minutes += 1;
    }

    // Send time values back to "timer" HTML element.
    // If minutes or seconds are single digits, add a leading zero.
    if (minutes < 10 && seconds < 10) {
      document.getElementById("timer").innerHTML = "0" + minutes + ":" + "0" + seconds;
    }
    else if (seconds < 10) {
      document.getElementById("timer").innerHTML = minutes + ":" + "0" + seconds;
    }
    else if (minutes < 10) {
      document.getElementById("timer").innerHTML = "0" + minutes + ":" + seconds;
    }
    else {
      document.getElementById("timer").innerHTML = minutes + ":" + seconds;
    }

    // If the timer is not running, run one instance of the timer. Otherwise, don't make a new one.
    if (timerRunning == false) {
      timerRunning = true;
      // Timer Instance
      countdown = setInterval(function () {
        // Reduces seconds by 1 every second. If it drops below 0, reduce minutes by 1.
        seconds --;
        if (seconds < 0) {
          seconds = 59;
          minutes -= 1;
        }
        if (minutes < 0) {
          seconds = 0;
          minutes = 0;
        }

        // Send time values back to "timer" HTML element.
        // If minutes or seconds are single digits, add a leading zero.
        if (minutes < 10 && seconds < 10) {
          document.getElementById("timer").innerHTML = "0" + minutes + ":" + "0" + seconds;
        }
        else if (seconds < 10) {
          document.getElementById("timer").innerHTML = minutes + ":" + "0" + seconds;
        }
        else if (minutes < 10) {
          document.getElementById("timer").innerHTML = "0" + minutes + ":" + seconds;
        }
        else {
          document.getElementById("timer").innerHTML = minutes + ":" + seconds;
        }

      }, 1000);
    }
  }
</script>
<script>
  let homeScore = 0;
  function addHome() {
      if (homeScore < 30) {
          homeScore += 15;
      }
      else if (homeScore < 40) {
          homeScore += 10;
      }
      // AD system
      else if (homeScore === "AD") {
          homeScore = "WIN"
          detectWin()
      }
      else if (guestScore === 40) {
          homeScore = "AD"
      }
      else if (guestScore === "AD") {
          guestScore = 40
      }
      else if (guestScore !== "WIN") {
          homeScore = "WIN"
          detectWin()
      }
      document.getElementById("guest_score").innerHTML = guestScore;
      document.getElementById("home_score").innerHTML = homeScore;
      document.getElementById("games").innerHTML = games;
  }
  function resetHome() {
    homeScore = 0;
    document.getElementById("home_score").innerHTML = homeScore;
      resetWin()
  }

  let guestScore = 0;
  function addGuest() {
      if (guestScore < 30) {
          guestScore += 15;
      }
      else if (guestScore < 40) {
          guestScore += 10;
      }
      // AD system
      else if (guestScore === "AD") {
          guestScore = "WIN"
          detectWin()
      }
      else if (homeScore === 40) {
          guestScore = "AD"
      }
      else if (homeScore === "AD") {
          homeScore = 40
      }
      else if (homeScore !== "WIN") {
          guestScore = "WIN"
          detectWin()
      }
      document.getElementById("guest_score").innerHTML = guestScore;
      document.getElementById("home_score").innerHTML = homeScore;
      document.getElementById("games").innerHTML = games;
  }
  function resetGuest() {
    guestScore = 0;
    document.getElementById("guest_score").innerHTML = guestScore;
      resetWin()
  }

  function resetAll() {
      resetGuest()
      resetHome()
  }

  let games = 0;
  function resetCount() {
      games = 0;
      document.getElementById("games").innerHTML = games;
  }

  let winAdded = false;
  function detectWin() {
      if (winAdded === false) {
          games += 1
          winAdded = true
      }
  }
  function resetWin() {
      if (homeScore !== "WIN" && guestScore !== "WIN") {
          winAdded = false
      }
  }
</script>

  <div class="contact" style="min-height: 100vh;">

    <!--Start of body-->
    <div class="container p-3 my-3 bg-black text-black rounded">
      <div class="row p-3 my-3 bg-black text-black rounded">
        <div class="col-2 my-3 bg-dark text-light rounded" style="text-align: center" >
          <p id="home_score" style="font-size:70px; color:cyan">0</p>
        </div>

        <div class="col-1"></div>

        <div class="col-3 my-3 bg-dark text-light rounded" style="text-align: center" >
          <p id="timer" style="font-size:70px; color:red">00:00</p>
        </div>

        <div class="col-1"></div>

        <div class="col-2 my-3 bg-dark text-light rounded" style="text-align: center" >
          <p id="guest_score" style="font-size:70px; color:yellow">0</p>
        </div>

        <div class="col-1"></div>

          <div class="col-2 my-3 bg-dark text-light rounded" style="text-align: center" >
              <p id="games" style="font-size:70px; color:white">0</p>
          </div>

          <div class="col-1"></div>

        <div class="col-12"><br></div>

        <div class="col-2 my-3 bg-dark text-light rounded" style="text-align: center" >
            <br><br>
          <button class="btn btn-primary" onclick=addHome();>
            Add Home
          </button>
            <br>
            <br>
          <button class="btn btn-success" onclick=resetHome();>
            0
          </button>
        </div>

        <div class="col-1"></div>

        <div class="col-3 my-3 bg-dark text-light rounded" style="text-align: center" >
            <br>
          <label>Enter Minutes:</label>
          <input id="minutes_html" placeholder="59"><br>
          <label>Enter Seconds:</label>
          <input id="seconds_html" placeholder="59"><br>
            <br>
          <button class="btn btn-warning" onclick=setTimer();>
            Set Timer
          </button>
            <br><br>
        </div>

        <div class="col-1"></div>

        <div class="col-2 my-3 bg-dark text-light rounded" style="text-align: center" >
            <br><br>
          <button class="btn btn-danger" onclick=addGuest();>
            Add Guest
          </button>
            <br>
            <br>
          <button class="btn btn-secondary" onclick=resetGuest();>
            0
          </button>
        </div>

        <div class="col-1"></div>

          <div class="col-2 my-3 bg-dark text-light rounded" style="text-align: center" >
              <br><br>
              <button class="btn btn-info" onclick=resetAll();>
                  0 - 0
              </button>
              <br>
              <br><br>
              <br>
              <button class="btn btn-warning" onclick=resetCount();>
                  Reset Games
              </button>
          </div>

          <div class="col-1"></div>

      </div>
    </div>

  </div>
{% endblock %}
